@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0b1012;
  overflow: hidden;
}

.background span {
  width: 0.5vmin;
  height: 0.5vmin;
  border-radius: 0.5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #ffffff;
  top: 48%;
  left: 8%;
  animation-duration: 35s;
  animation-delay: -23s;
  transform-origin: -20vw 2vh;
  box-shadow: 2vmin 0 1.2074631951234407vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffffff;
  top: 18%;
  left: 81%;
  animation-duration: 72s;
  animation-delay: -102s;
  transform-origin: 18vw 5vh;
  box-shadow: 2vmin 0 0.29158488314847153vmin currentColor;
}
/* ...dan seterusnya untuk semua 50 span... */
.background span:nth-child(3) {
  color: #ffffff;
  top: 75%;
  left: 26%;
  animation-duration: 21s;
  animation-delay: -56s;
  transform-origin: 23vw -11vh;
  box-shadow: 2vmin 0 0.6267493772595486vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffffff;
  top: 99%;
  left: 78%;
  animation-duration: 74s;
  animation-delay: -88s;
  transform-origin: -13vw 11vh;
  box-shadow: 2vmin 0 0.9960400126133421vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffffff;
  top: 46%;
  left: 61%;
  animation-duration: 29s;
  animation-delay: -36s;
  transform-origin: 3vw 8vh;
  box-shadow: -2vmin 0 0.25743307635937185vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffffff;
  top: 29%;
  left: 62%;
  animation-duration: 42s;
  animation-delay: -105s;
  transform-origin: 11vw -6vh;
  box-shadow: 2vmin 0 0.3460880479125765vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffffff;
  top: 34%;
  left: 53%;
  animation-duration: 45s;
  animation-delay: -68s;
  transform-origin: -9vw 7vh;
  box-shadow: 2vmin 0 0.4257231813756971vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffffff;
  top: 60%;
  left: 39%;
  animation-duration: 41s;
  animation-delay: -70s;
  transform-origin: 7vw -3vh;
  box-shadow: -2vmin 0 1.2332761482216141vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffffff;
  top: 21%;
  left: 6%;
  animation-duration: 51s;
  animation-delay: -99s;
  transform-origin: -12vw -16vh;
  box-shadow: -2vmin 0 1.1937565662099372vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffffff;
  top: 97%;
  left: 39%;
  animation-duration: 26s;
  animation-delay: -4s;
  transform-origin: 13vw 12vh;
  box-shadow: 2vmin 0 0.9350428193914955vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffffff;
  top: 34%;
  left: 27%;
  animation-duration: 77s;
  animation-delay: -85s;
  transform-origin: -5vw 20vh;
  box-shadow: -2vmin 0 0.9010150584378203vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffffff;
  top: 63%;
  left: 67%;
  animation-duration: 94s;
  animation-delay: -13s;
  transform-origin: -1vw 21vh;
  box-shadow: -2vmin 0 0.7209373605432142vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffffff;
  top: 22%;
  left: 15%;
  animation-duration: 78s;
  animation-delay: -85s;
  transform-origin: 8vw 17vh;
  box-shadow: 2vmin 0 0.818243732196939vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffffff;
  top: 37%;
  left: 9%;
  animation-duration: 105s;
  animation-delay: -45s;
  transform-origin: 15vw -8vh;
  box-shadow: -2vmin 0 0.84910703084543vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffffff;
  top: 20%;
  left: 89%;
  animation-duration: 69s;
  animation-delay: -97s;
  transform-origin: -1vw 7vh;
  box-shadow: -2vmin 0 0.8312298362274373vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffffff;
  top: 27%;
  left: 82%;
  animation-duration: 73s;
  animation-delay: -6s;
  transform-origin: 25vw 22vh;
  box-shadow: 2vmin 0 0.8738705577878868vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffffff;
  top: 1%;
  left: 79%;
  animation-duration: 80s;
  animation-delay: -9s;
  transform-origin: 19vw -1vh;
  box-shadow: 2vmin 0 0.9345515028624266vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffffff;
  top: 4%;
  left: 41%;
  animation-duration: 64s;
  animation-delay: -12s;
  transform-origin: -11vw 3vh;
  box-shadow: -2vmin 0 0.35934994515828556vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffffff;
  top: 79%;
  left: 35%;
  animation-duration: 22s;
  animation-delay: -76s;
  transform-origin: -19vw -11vh;
  box-shadow: 2vmin 0 0.7351191199394281vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffffff;
  top: 19%;
  left: 13%;
  animation-duration: 30s;
  animation-delay: -103s;
  transform-origin: 0vw 4vh;
  box-shadow: -2vmin 0 0.681943237792902vmin currentColor;
}
.background span:nth-child(21) {
  color: #ffffff;
  top: 1%;
  left: 18%;
  animation-duration: 39s;
  animation-delay: -83s;
  transform-origin: 4vw 10vh;
  box-shadow: 2vmin 0 0.3176799057780527vmin currentColor;
}
.background span:nth-child(22) {
  color: #ffffff;
  top: 68%;
  left: 42%;
  animation-duration: 9s;
  animation-delay: -47s;
  transform-origin: 11vw 8vh;
  box-shadow: -2vmin 0 0.9265291331192451vmin currentColor;
}
.background span:nth-child(23) {
  color: #ffffff;
  top: 51%;
  left: 97%;
  animation-duration: 21s;
  animation-delay: -78s;
  transform-origin: 10vw 3vh;
  box-shadow: -2vmin 0 0.9383304775642077vmin currentColor;
}
.background span:nth-child(24) {
  color: #ffffff;
  top: 24%;
  left: 83%;
  animation-duration: 37s;
  animation-delay: -17s;
  transform-origin: 5vw -1vh;
  box-shadow: 2vmin 0 1.1857066218670933vmin currentColor;
}
.background span:nth-child(25) {
  color: #ffffff;
  top: 68%;
  left: 3%;
  animation-duration: 28s;
  animation-delay: -4s;
  transform-origin: 19vw -12vh;
  box-shadow: 2vmin 0 0.7405623939997407vmin currentColor;
}
.background span:nth-child(26) {
  color: #ffffff;
  top: 38%;
  left: 62%;
  animation-duration: 61s;
  animation-delay: -103s;
  transform-origin: 19vw 7vh;
  box-shadow: -2vmin 0 0.42040864642632314vmin currentColor;
}
.background span:nth-child(27) {
  color: #ffffff;
  top: 51%;
  left: 82%;
  animation-duration: 55s;
  animation-delay: -107s;
  transform-origin: -9vw 17vh;
  box-shadow: 2vmin 0 0.9856525811861729vmin currentColor;
}
.background span:nth-child(28) {
  color: #ffffff;
  top: 18%;
  left: 66%;
  animation-duration: 81s;
  animation-delay: -86s;
  transform-origin: -22vw 7vh;
  box-shadow: 2vmin 0 1.235204617604194vmin currentColor;
}
.background span:nth-child(29) {
  color: #ffffff;
  top: 92%;
  left: 39%;
  animation-duration: 86s;
  animation-delay: -4s;
  transform-origin: -18vw 14vh;
  box-shadow: 2vmin 0 1.1808679151826798vmin currentColor;
}
.background span:nth-child(30) {
  color: #ffffff;
  top: 15%;
  left: 54%;
  animation-duration: 114s;
  animation-delay: -48s;
  transform-origin: -6vw 16vh;
  box-shadow: -2vmin 0 0.48508604584393356vmin currentColor;
}
.background span:nth-child(31) {
  color: #ffffff;
  top: 35%;
  left: 95%;
  animation-duration: 113s;
  animation-delay: -60s;
  transform-origin: -3vw -18vh;
  box-shadow: -2vmin 0 0.5732685480802545vmin currentColor;
}
.background span:nth-child(32) {
  color: #ffffff;
  top: 7%;
  left: 25%;
  animation-duration: 107s;
  animation-delay: -8s;
  transform-origin: -16vw -5vh;
  box-shadow: -2vmin 0 1.1647791430475876vmin currentColor;
}
.background span:nth-child(33) {
  color: #ffffff;
  top: 80%;
  left: 89%;
  animation-duration: 44s;
  animation-delay: -21s;
  transform-origin: -22vw 5vh;
  box-shadow: 2vmin 0 0.8890992627102747vmin currentColor;
}
.background span:nth-child(34) {
  color: #ffffff;
  top: 38%;
  left: 40%;
  animation-duration: 114s;
  animation-delay: -83s;
  transform-origin: 5vw -12vh;
  box-shadow: -2vmin 0 0.42752498769005465vmin currentColor;
}
.background span:nth-child(35) {
  color: #ffffff;
  top: 25%;
  left: 70%;
  animation-duration: 8s;
  animation-delay: -81s;
  transform-origin: -14vw 17vh;
  box-shadow: -2vmin 0 0.6664826338234574vmin currentColor;
}
.background span:nth-child(36) {
  color: #ffffff;
  top: 43%;
  left: 90%;
  animation-duration: 36s;
  animation-delay: -68s;
  transform-origin: -2vw -18vh;
  box-shadow: -2vmin 0 1.125236098804511vmin currentColor;
}
.background span:nth-child(37) {
  color: #ffffff;
  top: 95%;
  left: 96%;
  animation-duration: 114s;
  animation-delay: -4s;
  transform-origin: 5vw 18vh;
  box-shadow: -2vmin 0 0.9768912742081427vmin currentColor;
}
.background span:nth-child(38) {
  color: #ffffff;
  top: 27%;
  left: 92%;
  animation-duration: 103s;
  animation-delay: -93s;
  transform-origin: 15vw 2vh;
  box-shadow: 2vmin 0 0.30643216283944363vmin currentColor;
}
.background span:nth-child(39) {
  color: #ffffff;
  top: 27%;
  left: 8%;
  animation-duration: 36s;
  animation-delay: -8s;
  transform-origin: -18vw 15vh;
  box-shadow: -2vmin 0 1.138929989042732vmin currentColor;
}
.background span:nth-child(40) {
  color: #ffffff;
  top: 22%;
  left: 80%;
  animation-duration: 84s;
  animation-delay: -14s;
  transform-origin: -4vw 18vh;
  box-shadow: -2vmin 0 1.1035602587791569vmin currentColor;
}
.background span:nth-child(41) {
  color: #ffffff;
  top: 77%;
  left: 27%;
  animation-duration: 42s;
  animation-delay: -61s;
  transform-origin: 16vw 1vh;
  box-shadow: 2vmin 0 0.2979425898141067vmin currentColor;
}
.background span:nth-child(42) {
  color: #ffffff;
  top: 55%;
  left: 11%;
  animation-duration: 21s;
  animation-delay: -26s;
  transform-origin: 10vw -19vh;
  box-shadow: 2vmin 0 0.7033923681942414vmin currentColor;
}
.background span:nth-child(43) {
  color: #ffffff;
  top: 100%;
  left: 100%;
  animation-duration: 110s;
  animation-delay: -90s;
  transform-origin: -24vw 21vh;
  box-shadow: -2vmin 0 0.32629096486012044vmin currentColor;
}
.background span:nth-child(44) {
  color: #ffffff;
  top: 73%;
  left: 38%;
  animation-duration: 102s;
  animation-delay: -89s;
  transform-origin: 24vw -22vh;
  box-shadow: 2vmin 0 0.28457116435247976vmin currentColor;
}
.background span:nth-child(45) {
  color: #ffffff;
  top: 95%;
  left: 55%;
  animation-duration: 69s;
  animation-delay: -90s;
  transform-origin: 10vw -6vh;
  box-shadow: -2vmin 0 1.141031507658183vmin currentColor;
}
.background span:nth-child(46) {
  color: #ffffff;
  top: 99%;
  left: 86%;
  animation-duration: 69s;
  animation-delay: -9s;
  transform-origin: 13vw -11vh;
  box-shadow: 2vmin 0 0.3865162913706556vmin currentColor;
}
.background span:nth-child(47) {
  color: #ffffff;
  top: 72%;
  left: 21%;
  animation-duration: 114s;
  animation-delay: -45s;
  transform-origin: -13vw -1vh;
  box-shadow: 2vmin 0 1.0492946578419518vmin currentColor;
}
.background span:nth-child(48) {
  color: #ffffff;
  top: 73%;
  left: 11%;
  animation-duration: 79s;
  animation-delay: -95s;
  transform-origin: 3vw -19vh;
  box-shadow: 2vmin 0 0.27787841322506146vmin currentColor;
}
.background span:nth-child(49) {
  color: #ffffff;
  top: 66%;
  left: 14%;
  animation-duration: 47s;
  animation-delay: -54s;
  transform-origin: -24vw -24vh;
  box-shadow: 2vmin 0 0.37197436216250057vmin currentColor;
}
.background span:nth-child(50) {
  color: #ffffff;
  top: 60%;
  left: 68%;
  animation-duration: 45s;
  animation-delay: -97s;
  transform-origin: -4vw -15vh;
  box-shadow: -2vmin 0 0.37338212629379675vmin currentColor;
}
