/* Style untuk titik tajam yang mengorbit */
.sharpDot {
  background-color: white;
  border-radius: 50%;
  width: 0.4vmin;
  height: 0.4vmin;
  /* z-index ditambahkan agar selalu di atas background CSS */
  z-index: 0;
}
